:root {
    --background-active: linear-gradient( 90deg,rgb(177, 177, 177) 5%, #c850c0 20%, #ffcc70 50%, #c850c0 80%, rgb(177, 177, 177) 95%);;
    --background-disable: rgb(177, 177, 177);
}

@font-face {
    font-family: "TATypefire";
    src: url(./TATypefire-Bold.otf);
}

body {
    background-color: black;
    margin: 0;
    color: #303846;
    background: #000000;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2; 
}

.fixed-header {
    width: 100vw;
    margin: 0;
    padding: 0px;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
}

.fixed-main {
    width: 100vw;
    margin: 0;
    padding: 0px;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
}

.logo__column-4 {
    width: 100%;
    margin: 0 auto;
    column-count: 4;
    column-gap: 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "TATypefire";
    text-align: center;
    box-sizing: content-box;
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

a {
    color: #000000;
}

.relativ {
    position: relative;
    top: -10px;
    left: 0;
    transition: 0.7s;
    border-bottom: 4px solid #6e136e;
    break-inside: avoid;
}

.relativ:hover {
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 4px solid #ffcc70;
    break-inside: avoid;
}

.logo__main {
    background-color:  var(--background-disable);
}

.logo__main:hover {
    background: var(--background-active);
}

.logo__info {
    background-color: var(--background-disable);
}

.logo__info:hover {
    background: var(--background-active);
}

.logo__actual {
    background-color:  var(--background-disable);
}

.logo__actual:hover {
    background: var(--background-active);
}

.logo__calendar {
    background-color:  var(--background-disable);
}

.logo__calendar:hover {
    background: var(--background-active);
}

.main-theme {
    width: 1400px;
    padding: 20px 70px 70px;
    margin: 0 auto;
}

.about__food {
    padding-bottom: 15px;
    background: #202020;
}

.one {
    padding-top: 50px;
}

.two {
    padding-top: 10px;
}

.main_graphic {
    color: #ade298;
    font-size: 40px;
    font-family: "TATypefire";
}

.m-center {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(131, 131, 131), black, rgb(131, 131, 131));

    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
}

.m-left {
    margin-left: 80px;
}

p {
    color: #ccc;
    font-size: 22px;
    line-height: 1.5;
    margin: 30px 70px;
    text-align: justify;
}

.p_center {
    text-align: center;
}

.name {
    color: #506650;
    font-size: 24px;
    line-height: 1.5;
    margin: 15px 20px;
    font-weight: bold;
}

.about {
    color: rgb(206, 207, 207);
    font-size: 0.8em;
    line-height: 1.5;
    list-style-type: none;
    margin: 0 20px;
}

.about::before {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ade298;
    border-radius: 50%;
    left: -15px;
    content: "";
}

b {
    color: #c850c0;
    font-style: italic;
}

strong {
    color: #dd92d7;
}

.tabs-calendar {
    z-index: 1;
    position: relative;
    left: calc(50% / 2);
    right: calc(50% / 2);
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
    bottom:50px;
    width: 600px;
    background: rgb(83, 43, 76);
    border-radius: 15px;
    padding: 20px 30px;
    margin-bottom: 100px;
}

.calendar-data {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 30px;
}

.main_calendar {
    font-size: 40px;
    font-family: "TATypefire";
    color: #ade298;
    text-align: center;
    margin: 0;
}

th {
    padding: 20px 20px;

    color: #adf7bd;
    font-size: 20px;
    font-family: "TATypefire";

    background: linear-gradient(rgb(22, 22, 22), rgb(24, 78, 51), rgb(83, 43, 76));
}

td {
    padding: 20px 20px;

    color: #cfcfcf;
    font-size: 40px;
    text-align: center;
    font-family: "TATypefire";
    background: rgb(83, 43, 76);
    cursor: pointer;

    border-collapse: collapse;
    border: 1px solid black;
}

.day_x {
    z-index: 1;
    background: radial-gradient(#ade298 35%, rgb(83, 43, 76) 60%);
    color: #000000;
    border-radius: 50%;
}