:root {
    --color-solid:rgb(64, 12, 71);
    --color-text:rgb(136, 123, 138);
    --background-active: linear-gradient( 90deg,rgb(177, 177, 177) 5%, #c850c0 20%, #ffcc70 50%, #c850c0 80%, rgb(177, 177, 177) 95%);;
    --background-disable: rgb(177, 177, 177);
}

@font-face {
    font-family: "TATypefire";
    src: url(./TATypefire-Bold.otf);
}

body {
    background-color: black;
    margin: 0;
    color: #303846;
    background: #000000;
    font-size: 24px;
  }

.header {
    width: 100%;
    position: fixed;
    z-index: 2; 
}

.logo__column-4 {
    width: 100%;
    margin: 0 auto;
    column-count: 4;
    column-gap: 0;
}

.logo {
    display: flex;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "TATypefire";
    text-align: center;
    box-sizing: content-box;
    flex-direction: column;
}

.grow-1 {
    flex-grow: 1;
}

a {
    color: #000000;
}

.relativ {
    position: relative;
    top: -10px;
    left: 0;
    transition: 0.7s;
    border-bottom: 4px solid #6e136e;
    break-inside: avoid;
}

.relativ:hover {
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 4px solid #ffcc70;
    break-inside: avoid;
}

.logo__main {
    background-color:  var(--background-disable);
}

.logo__main:hover {
    background: var(--background-active);
}

.logo__info {
    background-color: var(--background-disable);
}

.logo__info:hover {
    background: var(--background-active);
}

.logo__actual {
    background-color:  var(--background-disable);
}

.logo__actual:hover {
    background: var(--background-active);
}

.logo__calendar {
    background-color:  var(--background-disable);
}

.logo__calendar:hover {
    background: var(--background-active);
}

.main-head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.head-center {
    width: 900px;
    margin-top: 50px;
}

.main-okras {
    margin: 30px auto 0;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.euwka {
    width: 300px;
    height: 400px;
    border: 2px solid #6a2d6d;
    border-radius: 25px;
    text-align: center;
    margin: 30px;
  }

.card {
    position: relative; 
    z-index: 1;  
    top: 0;
    left: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(48, 48, 48) 0%, rgb(85, 85, 85) 40%, rgb(177, 177, 177) 90%);
    transition: 0.7s;
}

.card:hover {
    position: relative;
    top: -10px;
    right: 10px;
    color:rgb(247, 209, 152);
    background: linear-gradient(45deg, #4158d0 0%, #c850c0 40%, #ffcc70 90%);
    cursor: pointer;
}

.euwka img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:  50%;
    margin-left: auto;
    margin-right: auto;
    border: 3px dashed var(--color-solid);
  }

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: "TATypefire";
}

.euwka h3 {
    margin: 6px 0;
    font-size: 25px;
    font-family: "TATypefire";
}

p {
    font-size: 15px;
    line-height: 1.5;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.column-text {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: #f1d7a6;
    padding-left: 50px;
    padding-right: 50px;
}

.house-big_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

.photo_image {
    width: 400px;
    border: 2px solid #6a2d6d;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    color: darkseagreen;
    text-align: center;
}

.opisanie {
    font-size: 20px;
    color: #c850c0;
    text-align: center;
}

.house-small_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}